@charset 'utf-8';

body {
  color: #333;
  margin: 0;
  padding: 0;
}

span {
  font-weight: normal;
  font-size: 16px;
}

.button {
  font-weight: bold;
  color: #fff;
  background: rgb(59, 134, 247);
}

.button:hover {
  background: rgba(173, 216, 230, 0.9);
  color: #333;
}

.task-list {
  background: #dceec5;
  border: 1px solid #333;
  height: 100vh;
}

.complete-list {
  background: #b5ebf5;
  border: 1px solid #333;
  height: 100vh;
}

.d-btn {
  border: 1px solid #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
}

li:nth-child(odd) {
  background-color: rgb(248, 248, 248);
}

li:nth-child(even) {
  background-color: rgb(231, 231, 231);
}
